<div class="home">
    <div class="box">
        <div class="title">
            <h1 class="">Cinema IronHack</h1>
            <a href="/movies" class="btn">Check the movies</a>
        </div>
    </div>
</div>